@media (max-width: 600px) {
  .MuiDateRangePickerToolbar-container{
    align-items: center;
  }
  .filter-drawer .MuiDrawer-root:not(.left-sider):not(.map-drawers) .MuiDrawer-paper,
  .filter-drawer .settings-drawer:not(.left-sider):not(.map-drawers) .MuiDrawer-paper {
    width: 65vw;
  }
}

@media (max-width: 400px) {
  .MuiDialogContent-root:has(.MuiPickersLayout-root) {
    padding: 0px !important;
  }
}
